<h1 mat-dialog-title>Confirmacion</h1>
<div mat-dialog-content>Estas seguro que deseas eliminar este registro?</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button (click)="deleteUser()">Aceptar</button>
</div>